   .CENTER
      {
         font-size: xx-large;
      }

   .perfil
      {
         margin-top: 50px;
         width:50%;
         height: 20%;
      }
   .container
      {
         display: grid;
         grid-template-columns: 4fr 8fr;
      }
   .box1
      {
         background-color: rgb(44, 44, 199);
         height: 104%;
         width: 95%;
         color: white;
         text-align: center;
         border: solid black 1px;
         padding: 20px;
      }
   .box2
      {
         background-color: whitesmoke;
         color: black;
         padding: 50px;
         height: 100%;
         width: 95%;
         border: solid black 1px;
         text-align: center;
      }
   h1
      {
         font-size: xx-large;
      }

   h3
      {
         font-size: large;
      }
   #educacion
      {
         width: 200px;

      }

   .contacto
      {
         font-size: x-large;
      }
   img
      {
         align-items:end;
      }

   .nav  
      {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   td, th
      {
         border: solid black 1px;  
      }
   .border
      {
         border: solid black 1px;  
      }
